# Python artifacts
venv/
__pycache__/
*.pyc

# macOS artifacts
.DS_Store

# Fishwrap generated artifacts (relative to repo root)
# The main application/library artifacts (Vanilla Fishwrap)
articles_db.json
publication_stats.json
run_sheet.json
enhanced_issue.json
latest.html
latest.pdf
logs/
secrets.json

# User specific deployments (like The Daily Clamour)
daily_clamour/